// =============================================================================
// Base16 Pop
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Pop-00: #000000;
$Pop-01: #202020;
$Pop-02: #303030;
$Pop-03: #505050;
$Pop-04: #b0b0b0;
$Pop-05: #d0d0d0;
$Pop-06: #e0e0e0;
$Pop-07: #ffffff;
$Pop-08: #eb008a;
$Pop-09: #f29333;
$Pop-0A: #f8ca12;
$Pop-0B: #37b349;
$Pop-0C: #00aabb;
$Pop-0D: #0e5a94;
$Pop-0E: #b31e8d;
$Pop-0F: #7a2d00;
// -----------------------------------------------------------------------------
