// =============================================================================
// Base16 Material Lighter
// =============================================================================
// Author: Nate Peterson
// Source: https://github.com/ntpeters/base16-materialtheme-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Material-Lighter-00: #FAFAFA;
$Material-Lighter-01: #E7EAEC;
$Material-Lighter-02: #CCEAE7;
$Material-Lighter-03: #CCD7DA;
$Material-Lighter-04: #8796B0;
$Material-Lighter-05: #80CBC4;
$Material-Lighter-06: #80CBC4;
$Material-Lighter-07: #FFFFFF;
$Material-Lighter-08: #FF5370;
$Material-Lighter-09: #F76D47;
$Material-Lighter-0A: #FFB62C;
$Material-Lighter-0B: #91B859;
$Material-Lighter-0C: #39ADB5;
$Material-Lighter-0D: #6182B8;
$Material-Lighter-0E: #7C4DFF;
$Material-Lighter-0F: #E53935;
// -----------------------------------------------------------------------------
