// =============================================================================
// Base16 Porple
// =============================================================================
// Author: Niek den Breeje (https://github.com/AuditeMarlow)
// Source: https://github.com/AuditeMarlow/base16-porple-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Porple-00: #292c36;
$Porple-01: #333344;
$Porple-02: #474160;
$Porple-03: #65568a;
$Porple-04: #b8b8b8;
$Porple-05: #d8d8d8;
$Porple-06: #e8e8e8;
$Porple-07: #f8f8f8;
$Porple-08: #f84547;
$Porple-09: #d28e5d;
$Porple-0A: #efa16b;
$Porple-0B: #95c76f;
$Porple-0C: #64878f;
$Porple-0D: #8485ce;
$Porple-0E: #b74989;
$Porple-0F: #986841;
// -----------------------------------------------------------------------------
