// =============================================================================
// Base16 iA Light
// =============================================================================
// Author: iA Inc. (modified by aramisgithub)
// Source: https://github.com/aramisgithub/base16-ia-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$iA-Light-00: #f6f6f6;
$iA-Light-01: #dedede;
$iA-Light-02: #bde5f2;
$iA-Light-03: #898989;
$iA-Light-04: #767676;
$iA-Light-05: #181818;
$iA-Light-06: #e8e8e8;
$iA-Light-07: #f8f8f8;
$iA-Light-08: #9c5a02;
$iA-Light-09: #c43e18;
$iA-Light-0A: #c48218;
$iA-Light-0B: #38781c;
$iA-Light-0C: #2d6bb1;
$iA-Light-0D: #48bac2;
$iA-Light-0E: #a94598;
$iA-Light-0F: #8b6c37;
// -----------------------------------------------------------------------------
