// =============================================================================
// Base16 OceanicNext
// =============================================================================
// Author: Dmitri Voronianski
// Source: https://github.com/voronianski/oceanic-next-color-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$OceanicNext-00: #1B2B34;
$OceanicNext-01: #343D46;
$OceanicNext-02: #4F5B66;
$OceanicNext-03: #65737E;
$OceanicNext-04: #A7ADBA;
$OceanicNext-05: #C0C5CE;
$OceanicNext-06: #CDD3DE;
$OceanicNext-07: #D8DEE9;
$OceanicNext-08: #EC5f67;
$OceanicNext-09: #F99157;
$OceanicNext-0A: #FAC863;
$OceanicNext-0B: #99C794;
$OceanicNext-0C: #5FB3B3;
$OceanicNext-0D: #6699CC;
$OceanicNext-0E: #C594C5;
$OceanicNext-0F: #AB7967;
// -----------------------------------------------------------------------------
