// =============================================================================
// Base16 Monokai
// =============================================================================
// Author: Wimer Hazenberg (http://www.monokai.nl)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Monokai-00: #272822;
$Monokai-01: #383830;
$Monokai-02: #49483e;
$Monokai-03: #75715e;
$Monokai-04: #a59f85;
$Monokai-05: #f8f8f2;
$Monokai-06: #f5f4f1;
$Monokai-07: #f9f8f5;
$Monokai-08: #f92672;
$Monokai-09: #fd971f;
$Monokai-0A: #f4bf75;
$Monokai-0B: #a6e22e;
$Monokai-0C: #a1efe4;
$Monokai-0D: #66d9ef;
$Monokai-0E: #ae81ff;
$Monokai-0F: #cc6633;
// -----------------------------------------------------------------------------
