// =============================================================================
// Base16 Atelier Dune Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Dune-Light-00: #fefbec;
$Atelier-Dune-Light-01: #e8e4cf;
$Atelier-Dune-Light-02: #a6a28c;
$Atelier-Dune-Light-03: #999580;
$Atelier-Dune-Light-04: #7d7a68;
$Atelier-Dune-Light-05: #6e6b5e;
$Atelier-Dune-Light-06: #292824;
$Atelier-Dune-Light-07: #20201d;
$Atelier-Dune-Light-08: #d73737;
$Atelier-Dune-Light-09: #b65611;
$Atelier-Dune-Light-0A: #ae9513;
$Atelier-Dune-Light-0B: #60ac39;
$Atelier-Dune-Light-0C: #1fad83;
$Atelier-Dune-Light-0D: #6684e1;
$Atelier-Dune-Light-0E: #b854d4;
$Atelier-Dune-Light-0F: #d43552;
// -----------------------------------------------------------------------------
