// =============================================================================
// Base16 iA Dark
// =============================================================================
// Author: iA Inc. (modified by aramisgithub)
// Source: https://github.com/aramisgithub/base16-ia-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$iA-Dark-00: #1a1a1a;
$iA-Dark-01: #222222;
$iA-Dark-02: #1d414d;
$iA-Dark-03: #767676;
$iA-Dark-04: #b8b8b8;
$iA-Dark-05: #cccccc;
$iA-Dark-06: #e8e8e8;
$iA-Dark-07: #f8f8f8;
$iA-Dark-08: #d88568;
$iA-Dark-09: #d86868;
$iA-Dark-0A: #b99353;
$iA-Dark-0B: #83a471;
$iA-Dark-0C: #7c9cae;
$iA-Dark-0D: #8eccdd;
$iA-Dark-0E: #b98eb2;
$iA-Dark-0F: #8b6c37;
// -----------------------------------------------------------------------------
