// =============================================================================
// Base16 IR Black
// =============================================================================
// Author: Timothée Poisot (http://timotheepoisot.fr)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$IR-Black-00: #000000;
$IR-Black-01: #242422;
$IR-Black-02: #484844;
$IR-Black-03: #6c6c66;
$IR-Black-04: #918f88;
$IR-Black-05: #b5b3aa;
$IR-Black-06: #d9d7cc;
$IR-Black-07: #fdfbee;
$IR-Black-08: #ff6c60;
$IR-Black-09: #e9c062;
$IR-Black-0A: #ffffb6;
$IR-Black-0B: #a8ff60;
$IR-Black-0C: #c6c5fe;
$IR-Black-0D: #96cbfe;
$IR-Black-0E: #ff73fd;
$IR-Black-0F: #b18a3d;
// -----------------------------------------------------------------------------
