// =============================================================================
// Base16 Atelier Estuary Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Estuary-Light-00: #f4f3ec;
$Atelier-Estuary-Light-01: #e7e6df;
$Atelier-Estuary-Light-02: #929181;
$Atelier-Estuary-Light-03: #878573;
$Atelier-Estuary-Light-04: #6c6b5a;
$Atelier-Estuary-Light-05: #5f5e4e;
$Atelier-Estuary-Light-06: #302f27;
$Atelier-Estuary-Light-07: #22221b;
$Atelier-Estuary-Light-08: #ba6236;
$Atelier-Estuary-Light-09: #ae7313;
$Atelier-Estuary-Light-0A: #a5980d;
$Atelier-Estuary-Light-0B: #7d9726;
$Atelier-Estuary-Light-0C: #5b9d48;
$Atelier-Estuary-Light-0D: #36a166;
$Atelier-Estuary-Light-0E: #5f9182;
$Atelier-Estuary-Light-0F: #9d6c7c;
// -----------------------------------------------------------------------------
