// =============================================================================
// Base16 Atelier Cave Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Cave-Light-00: #efecf4;
$Atelier-Cave-Light-01: #e2dfe7;
$Atelier-Cave-Light-02: #8b8792;
$Atelier-Cave-Light-03: #7e7887;
$Atelier-Cave-Light-04: #655f6d;
$Atelier-Cave-Light-05: #585260;
$Atelier-Cave-Light-06: #26232a;
$Atelier-Cave-Light-07: #19171c;
$Atelier-Cave-Light-08: #be4678;
$Atelier-Cave-Light-09: #aa573c;
$Atelier-Cave-Light-0A: #a06e3b;
$Atelier-Cave-Light-0B: #2a9292;
$Atelier-Cave-Light-0C: #398bc6;
$Atelier-Cave-Light-0D: #576ddb;
$Atelier-Cave-Light-0E: #955ae7;
$Atelier-Cave-Light-0F: #bf40bf;
// -----------------------------------------------------------------------------
