// =============================================================================
// Base16 Atelier Lakeside
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Lakeside-00: #161b1d;
$Atelier-Lakeside-01: #1f292e;
$Atelier-Lakeside-02: #516d7b;
$Atelier-Lakeside-03: #5a7b8c;
$Atelier-Lakeside-04: #7195a8;
$Atelier-Lakeside-05: #7ea2b4;
$Atelier-Lakeside-06: #c1e4f6;
$Atelier-Lakeside-07: #ebf8ff;
$Atelier-Lakeside-08: #d22d72;
$Atelier-Lakeside-09: #935c25;
$Atelier-Lakeside-0A: #8a8a0f;
$Atelier-Lakeside-0B: #568c3b;
$Atelier-Lakeside-0C: #2d8f6f;
$Atelier-Lakeside-0D: #257fad;
$Atelier-Lakeside-0E: #6b6bb8;
$Atelier-Lakeside-0F: #b72dd2;
// -----------------------------------------------------------------------------
