// =============================================================================
// Base16 Github
// =============================================================================
// Author: Defman21
// Source: https://github.com/Defman21/base16-github-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Github-00: #ffffff;
$Github-01: #f5f5f5;
$Github-02: #c8c8fa;
$Github-03: #969896;
$Github-04: #e8e8e8;
$Github-05: #333333;
$Github-06: #ffffff;
$Github-07: #ffffff;
$Github-08: #ed6a43;
$Github-09: #0086b3;
$Github-0A: #795da3;
$Github-0B: #183691;
$Github-0C: #183691;
$Github-0D: #795da3;
$Github-0E: #a71d5d;
$Github-0F: #333333;
// -----------------------------------------------------------------------------
