// =============================================================================
// Base16 Codeschool
// =============================================================================
// Author: blockloop
// Source: https://github.com/blockloop/base16-codeschool-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Codeschool-00: #232c31;
$Codeschool-01: #1c3657;
$Codeschool-02: #2a343a;
$Codeschool-03: #3f4944;
$Codeschool-04: #84898c;
$Codeschool-05: #9ea7a6;
$Codeschool-06: #a7cfa3;
$Codeschool-07: #b5d8f6;
$Codeschool-08: #2a5491;
$Codeschool-09: #43820d;
$Codeschool-0A: #a03b1e;
$Codeschool-0B: #237986;
$Codeschool-0C: #b02f30;
$Codeschool-0D: #484d79;
$Codeschool-0E: #c59820;
$Codeschool-0F: #c98344;
// -----------------------------------------------------------------------------
