// =============================================================================
// Base16 Gruvbox light, soft
// =============================================================================
// Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
// Source: https://github.com/dawikur/base16-gruvbox-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Gruvbox-light-soft-00: #f2e5bc;
$Gruvbox-light-soft-01: #ebdbb2;
$Gruvbox-light-soft-02: #d5c4a1;
$Gruvbox-light-soft-03: #bdae93;
$Gruvbox-light-soft-04: #665c54;
$Gruvbox-light-soft-05: #504945;
$Gruvbox-light-soft-06: #3c3836;
$Gruvbox-light-soft-07: #282828;
$Gruvbox-light-soft-08: #9d0006;
$Gruvbox-light-soft-09: #af3a03;
$Gruvbox-light-soft-0A: #b57614;
$Gruvbox-light-soft-0B: #79740e;
$Gruvbox-light-soft-0C: #427b58;
$Gruvbox-light-soft-0D: #076678;
$Gruvbox-light-soft-0E: #8f3f71;
$Gruvbox-light-soft-0F: #d65d0e;
// -----------------------------------------------------------------------------
