// =============================================================================
// Base16 Bespin
// =============================================================================
// Author: Jan T. Sott
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Bespin-00: #28211c;
$Bespin-01: #36312e;
$Bespin-02: #5e5d5c;
$Bespin-03: #666666;
$Bespin-04: #797977;
$Bespin-05: #8a8986;
$Bespin-06: #9d9b97;
$Bespin-07: #baae9e;
$Bespin-08: #cf6a4c;
$Bespin-09: #cf7d34;
$Bespin-0A: #f9ee98;
$Bespin-0B: #54be0d;
$Bespin-0C: #afc4db;
$Bespin-0D: #5ea6ea;
$Bespin-0E: #9b859d;
$Bespin-0F: #937121;
// -----------------------------------------------------------------------------
