// =============================================================================
// Base16 Nord
// =============================================================================
// Author: arcticicestudio
// Source: https://github.com/ada-lovecraft/base16-nord-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Nord-00: #2E3440;
$Nord-01: #3B4252;
$Nord-02: #434C5E;
$Nord-03: #4C566A;
$Nord-04: #D8DEE9;
$Nord-05: #E5E9F0;
$Nord-06: #ECEFF4;
$Nord-07: #8FBCBB;
$Nord-08: #88C0D0;
$Nord-09: #81A1C1;
$Nord-0A: #5E81AC;
$Nord-0B: #BF616A;
$Nord-0C: #D08770;
$Nord-0D: #EBCB8B;
$Nord-0E: #A3BE8C;
$Nord-0F: #B48EAD;
// -----------------------------------------------------------------------------
