// =============================================================================
// Base16 Gruvbox dark, soft
// =============================================================================
// Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
// Source: https://github.com/dawikur/base16-gruvbox-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Gruvbox-dark-soft-00: #32302f;
$Gruvbox-dark-soft-01: #3c3836;
$Gruvbox-dark-soft-02: #504945;
$Gruvbox-dark-soft-03: #665c54;
$Gruvbox-dark-soft-04: #bdae93;
$Gruvbox-dark-soft-05: #d5c4a1;
$Gruvbox-dark-soft-06: #ebdbb2;
$Gruvbox-dark-soft-07: #fbf1c7;
$Gruvbox-dark-soft-08: #fb4934;
$Gruvbox-dark-soft-09: #fe8019;
$Gruvbox-dark-soft-0A: #fabd2f;
$Gruvbox-dark-soft-0B: #b8bb26;
$Gruvbox-dark-soft-0C: #8ec07c;
$Gruvbox-dark-soft-0D: #83a598;
$Gruvbox-dark-soft-0E: #d3869b;
$Gruvbox-dark-soft-0F: #d65d0e;
// -----------------------------------------------------------------------------
