// =============================================================================
// Base16 Eighties
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-default-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Eighties-00: #2d2d2d;
$Eighties-01: #393939;
$Eighties-02: #515151;
$Eighties-03: #747369;
$Eighties-04: #a09f93;
$Eighties-05: #d3d0c8;
$Eighties-06: #e8e6df;
$Eighties-07: #f2f0ec;
$Eighties-08: #f2777a;
$Eighties-09: #f99157;
$Eighties-0A: #ffcc66;
$Eighties-0B: #99cc99;
$Eighties-0C: #66cccc;
$Eighties-0D: #6699cc;
$Eighties-0E: #cc99cc;
$Eighties-0F: #d27b53;
// -----------------------------------------------------------------------------
