// =============================================================================
// Base16 PhD
// =============================================================================
// Author: Hennig Hasemann (http://leetless.de/vim.html)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$PhD-00: #061229;
$PhD-01: #2a3448;
$PhD-02: #4d5666;
$PhD-03: #717885;
$PhD-04: #9a99a3;
$PhD-05: #b8bbc2;
$PhD-06: #dbdde0;
$PhD-07: #ffffff;
$PhD-08: #d07346;
$PhD-09: #f0a000;
$PhD-0A: #fbd461;
$PhD-0B: #99bf52;
$PhD-0C: #72b9bf;
$PhD-0D: #5299bf;
$PhD-0E: #9989cc;
$PhD-0F: #b08060;
// -----------------------------------------------------------------------------
