// =============================================================================
// Base16 Default Dark
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-default-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Default-Dark-00: #181818;
$Default-Dark-01: #282828;
$Default-Dark-02: #383838;
$Default-Dark-03: #585858;
$Default-Dark-04: #b8b8b8;
$Default-Dark-05: #d8d8d8;
$Default-Dark-06: #e8e8e8;
$Default-Dark-07: #f8f8f8;
$Default-Dark-08: #ab4642;
$Default-Dark-09: #dc9656;
$Default-Dark-0A: #f7ca88;
$Default-Dark-0B: #a1b56c;
$Default-Dark-0C: #86c1b9;
$Default-Dark-0D: #7cafc2;
$Default-Dark-0E: #ba8baf;
$Default-Dark-0F: #a16946;
// -----------------------------------------------------------------------------
