// =============================================================================
// Base16 Macintosh
// =============================================================================
// Author: Rebecca Bettencourt (http://www.kreativekorp.com)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Macintosh-00: #000000;
$Macintosh-01: #404040;
$Macintosh-02: #404040;
$Macintosh-03: #808080;
$Macintosh-04: #808080;
$Macintosh-05: #c0c0c0;
$Macintosh-06: #c0c0c0;
$Macintosh-07: #ffffff;
$Macintosh-08: #dd0907;
$Macintosh-09: #ff6403;
$Macintosh-0A: #fbf305;
$Macintosh-0B: #1fb714;
$Macintosh-0C: #02abea;
$Macintosh-0D: #0000d3;
$Macintosh-0E: #4700a5;
$Macintosh-0F: #90713a;
// -----------------------------------------------------------------------------
