// =============================================================================
// Base16 Material Darker
// =============================================================================
// Author: Nate Peterson
// Source: https://github.com/ntpeters/base16-materialtheme-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Material-Darker-00: #212121;
$Material-Darker-01: #303030;
$Material-Darker-02: #353535;
$Material-Darker-03: #4A4A4A;
$Material-Darker-04: #B2CCD6;
$Material-Darker-05: #EEFFFF;
$Material-Darker-06: #EEFFFF;
$Material-Darker-07: #FFFFFF;
$Material-Darker-08: #F07178;
$Material-Darker-09: #F78C6C;
$Material-Darker-0A: #FFCB6B;
$Material-Darker-0B: #C3E88D;
$Material-Darker-0C: #89DDFF;
$Material-Darker-0D: #82AAFF;
$Material-Darker-0E: #C792EA;
$Material-Darker-0F: #FF5370;
// -----------------------------------------------------------------------------
