// =============================================================================
// Base16 Atelier Sulphurpool Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Sulphurpool-Light-00: #f5f7ff;
$Atelier-Sulphurpool-Light-01: #dfe2f1;
$Atelier-Sulphurpool-Light-02: #979db4;
$Atelier-Sulphurpool-Light-03: #898ea4;
$Atelier-Sulphurpool-Light-04: #6b7394;
$Atelier-Sulphurpool-Light-05: #5e6687;
$Atelier-Sulphurpool-Light-06: #293256;
$Atelier-Sulphurpool-Light-07: #202746;
$Atelier-Sulphurpool-Light-08: #c94922;
$Atelier-Sulphurpool-Light-09: #c76b29;
$Atelier-Sulphurpool-Light-0A: #c08b30;
$Atelier-Sulphurpool-Light-0B: #ac9739;
$Atelier-Sulphurpool-Light-0C: #22a2c9;
$Atelier-Sulphurpool-Light-0D: #3d8fd1;
$Atelier-Sulphurpool-Light-0E: #6679cc;
$Atelier-Sulphurpool-Light-0F: #9c637a;
// -----------------------------------------------------------------------------
