// =============================================================================
// Base16 Unikitty Light
// =============================================================================
// Author: Josh W Lewis (@joshwlewis)
// Source: https://github.com/joshwlewis/base16-unikitty
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Unikitty-Light-00: #ffffff;
$Unikitty-Light-01: #e1e1e2;
$Unikitty-Light-02: #c4c3c5;
$Unikitty-Light-03: #a7a5a8;
$Unikitty-Light-04: #89878b;
$Unikitty-Light-05: #6c696e;
$Unikitty-Light-06: #4f4b51;
$Unikitty-Light-07: #322d34;
$Unikitty-Light-08: #d8137f;
$Unikitty-Light-09: #d65407;
$Unikitty-Light-0A: #dc8a0e;
$Unikitty-Light-0B: #17ad98;
$Unikitty-Light-0C: #149bda;
$Unikitty-Light-0D: #775dff;
$Unikitty-Light-0E: #aa17e6;
$Unikitty-Light-0F: #e013d0;
// -----------------------------------------------------------------------------
