// =============================================================================
// Base16 Brush Trees Dark
// =============================================================================
// Author: Abraham White <abelincoln.white@gmail.com>
// Source: https://github.com/whiteabelincoln/base16-brushtrees-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Brush-Trees-Dark-00: #485867;
$Brush-Trees-Dark-01: #5A6D7A;
$Brush-Trees-Dark-02: #6D828E;
$Brush-Trees-Dark-03: #8299A1;
$Brush-Trees-Dark-04: #98AFB5;
$Brush-Trees-Dark-05: #B0C5C8;
$Brush-Trees-Dark-06: #C9DBDC;
$Brush-Trees-Dark-07: #E3EFEF;
$Brush-Trees-Dark-08: #b38686;
$Brush-Trees-Dark-09: #d8bba2;
$Brush-Trees-Dark-0A: #aab386;
$Brush-Trees-Dark-0B: #87b386;
$Brush-Trees-Dark-0C: #86b3b3;
$Brush-Trees-Dark-0D: #868cb3;
$Brush-Trees-Dark-0E: #b386b2;
$Brush-Trees-Dark-0F: #b39f9f;
// -----------------------------------------------------------------------------
