// =============================================================================
// Base16 Apathy
// =============================================================================
// Author: Jannik Siebert (https://github.com/janniks)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Apathy-00: #031A16;
$Apathy-01: #0B342D;
$Apathy-02: #184E45;
$Apathy-03: #2B685E;
$Apathy-04: #5F9C92;
$Apathy-05: #81B5AC;
$Apathy-06: #A7CEC8;
$Apathy-07: #D2E7E4;
$Apathy-08: #3E9688;
$Apathy-09: #3E7996;
$Apathy-0A: #3E4C96;
$Apathy-0B: #883E96;
$Apathy-0C: #963E4C;
$Apathy-0D: #96883E;
$Apathy-0E: #4C963E;
$Apathy-0F: #3E965B;
// -----------------------------------------------------------------------------
