// =============================================================================
// Base16 Gruvbox dark, pale
// =============================================================================
// Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
// Source: https://github.com/dawikur/base16-gruvbox-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Gruvbox-dark-pale-00: #262626;
$Gruvbox-dark-pale-01: #3a3a3a;
$Gruvbox-dark-pale-02: #4e4e4e;
$Gruvbox-dark-pale-03: #8a8a8a;
$Gruvbox-dark-pale-04: #949494;
$Gruvbox-dark-pale-05: #dab997;
$Gruvbox-dark-pale-06: #d5c4a1;
$Gruvbox-dark-pale-07: #ebdbb2;
$Gruvbox-dark-pale-08: #d75f5f;
$Gruvbox-dark-pale-09: #ff8700;
$Gruvbox-dark-pale-0A: #ffaf00;
$Gruvbox-dark-pale-0B: #afaf00;
$Gruvbox-dark-pale-0C: #85ad85;
$Gruvbox-dark-pale-0D: #83adad;
$Gruvbox-dark-pale-0E: #d485ad;
$Gruvbox-dark-pale-0F: #d65d0e;
// -----------------------------------------------------------------------------
