// =============================================================================
// Base16 Summerfruit Light
// =============================================================================
// Author: Christopher Corley (http://christop.club/)
// Source: https://github.com/cscorley/base16-summerfruit-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Summerfruit-Light-00: #FFFFFF;
$Summerfruit-Light-01: #E0E0E0;
$Summerfruit-Light-02: #D0D0D0;
$Summerfruit-Light-03: #B0B0B0;
$Summerfruit-Light-04: #000000;
$Summerfruit-Light-05: #101010;
$Summerfruit-Light-06: #151515;
$Summerfruit-Light-07: #202020;
$Summerfruit-Light-08: #FF0086;
$Summerfruit-Light-09: #FD8900;
$Summerfruit-Light-0A: #ABA800;
$Summerfruit-Light-0B: #00C918;
$Summerfruit-Light-0C: #1FAAAA;
$Summerfruit-Light-0D: #3777E6;
$Summerfruit-Light-0E: #AD00A1;
$Summerfruit-Light-0F: #CC6633;
// -----------------------------------------------------------------------------
