// =============================================================================
// Base16 Gruvbox dark, medium
// =============================================================================
// Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
// Source: https://github.com/dawikur/base16-gruvbox-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Gruvbox-dark-medium-00: #282828;
$Gruvbox-dark-medium-01: #3c3836;
$Gruvbox-dark-medium-02: #504945;
$Gruvbox-dark-medium-03: #665c54;
$Gruvbox-dark-medium-04: #bdae93;
$Gruvbox-dark-medium-05: #d5c4a1;
$Gruvbox-dark-medium-06: #ebdbb2;
$Gruvbox-dark-medium-07: #fbf1c7;
$Gruvbox-dark-medium-08: #fb4934;
$Gruvbox-dark-medium-09: #fe8019;
$Gruvbox-dark-medium-0A: #fabd2f;
$Gruvbox-dark-medium-0B: #b8bb26;
$Gruvbox-dark-medium-0C: #8ec07c;
$Gruvbox-dark-medium-0D: #83a598;
$Gruvbox-dark-medium-0E: #d3869b;
$Gruvbox-dark-medium-0F: #d65d0e;
// -----------------------------------------------------------------------------
