// =============================================================================
// Base16 Atelier Savanna
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Savanna-00: #171c19;
$Atelier-Savanna-01: #232a25;
$Atelier-Savanna-02: #526057;
$Atelier-Savanna-03: #5f6d64;
$Atelier-Savanna-04: #78877d;
$Atelier-Savanna-05: #87928a;
$Atelier-Savanna-06: #dfe7e2;
$Atelier-Savanna-07: #ecf4ee;
$Atelier-Savanna-08: #b16139;
$Atelier-Savanna-09: #9f713c;
$Atelier-Savanna-0A: #a07e3b;
$Atelier-Savanna-0B: #489963;
$Atelier-Savanna-0C: #1c9aa0;
$Atelier-Savanna-0D: #478c90;
$Atelier-Savanna-0E: #55859b;
$Atelier-Savanna-0F: #867469;
// -----------------------------------------------------------------------------
