// =============================================================================
// Base16 One Light
// =============================================================================
// Author: Daniel Pfeifer (http://github.com/purpleKarrot)
// Source: https://github.com/purpleKarrot/base16-one-light-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$One-Light-00: #fafafa;
$One-Light-01: #f0f0f1;
$One-Light-02: #e5e5e6;
$One-Light-03: #a0a1a7;
$One-Light-04: #696c77;
$One-Light-05: #383a42;
$One-Light-06: #202227;
$One-Light-07: #090a0b;
$One-Light-08: #ca1243;
$One-Light-09: #d75f00;
$One-Light-0A: #c18401;
$One-Light-0B: #50a14f;
$One-Light-0C: #0184bc;
$One-Light-0D: #4078f2;
$One-Light-0E: #a626a4;
$One-Light-0F: #986801;
// -----------------------------------------------------------------------------
