// =============================================================================
// Base16 Dracula
// =============================================================================
// Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
// Source: https://draculatheme.com/
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Dracula-00: #282936;
$Dracula-01: #3a3c4e;
$Dracula-02: #626483;
$Dracula-03: #4d4f68;
$Dracula-04: #62d6e8;
$Dracula-05: #e9e9f4;
$Dracula-06: #f1f2f8;
$Dracula-07: #f7f7fb;
$Dracula-08: #ea51b2;
$Dracula-09: #b45bcf;
$Dracula-0A: #ebff87;
$Dracula-0B: #00f769;
$Dracula-0C: #a1efe4;
$Dracula-0D: #62d6e8;
$Dracula-0E: #b45bcf;
$Dracula-0F: #00f769;
// -----------------------------------------------------------------------------
