// =============================================================================
// Base16 Twilight
// =============================================================================
// Author: David Hart (https://github.com/hartbit)
// Source: https://github.com/hartbit/base16-twilight-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Twilight-00: #1e1e1e;
$Twilight-01: #323537;
$Twilight-02: #464b50;
$Twilight-03: #5f5a60;
$Twilight-04: #838184;
$Twilight-05: #a7a7a7;
$Twilight-06: #c3c3c3;
$Twilight-07: #ffffff;
$Twilight-08: #cf6a4c;
$Twilight-09: #cda869;
$Twilight-0A: #f9ee98;
$Twilight-0B: #8f9d6a;
$Twilight-0C: #afc4db;
$Twilight-0D: #7587a6;
$Twilight-0E: #9b859d;
$Twilight-0F: #9b703f;
// -----------------------------------------------------------------------------
