// =============================================================================
// Base16 Harmonic16 Dark
// =============================================================================
// Author: Jannik Siebert (https://github.com/janniks)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Harmonic16-Dark-00: #0b1c2c;
$Harmonic16-Dark-01: #223b54;
$Harmonic16-Dark-02: #405c79;
$Harmonic16-Dark-03: #627e99;
$Harmonic16-Dark-04: #aabcce;
$Harmonic16-Dark-05: #cbd6e2;
$Harmonic16-Dark-06: #e5ebf1;
$Harmonic16-Dark-07: #f7f9fb;
$Harmonic16-Dark-08: #bf8b56;
$Harmonic16-Dark-09: #bfbf56;
$Harmonic16-Dark-0A: #8bbf56;
$Harmonic16-Dark-0B: #56bf8b;
$Harmonic16-Dark-0C: #568bbf;
$Harmonic16-Dark-0D: #8b56bf;
$Harmonic16-Dark-0E: #bf568b;
$Harmonic16-Dark-0F: #bf5656;
// -----------------------------------------------------------------------------
