// =============================================================================
// Base16 Atelier Dune
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Dune-00: #20201d;
$Atelier-Dune-01: #292824;
$Atelier-Dune-02: #6e6b5e;
$Atelier-Dune-03: #7d7a68;
$Atelier-Dune-04: #999580;
$Atelier-Dune-05: #a6a28c;
$Atelier-Dune-06: #e8e4cf;
$Atelier-Dune-07: #fefbec;
$Atelier-Dune-08: #d73737;
$Atelier-Dune-09: #b65611;
$Atelier-Dune-0A: #ae9513;
$Atelier-Dune-0B: #60ac39;
$Atelier-Dune-0C: #1fad83;
$Atelier-Dune-0D: #6684e1;
$Atelier-Dune-0E: #b854d4;
$Atelier-Dune-0F: #d43552;
// -----------------------------------------------------------------------------
