// =============================================================================
// Base16 Shapeshifter
// =============================================================================
// Author: Tyler Benziger (http://tybenz.com)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Shapeshifter-00: #f9f9f9;
$Shapeshifter-01: #e0e0e0;
$Shapeshifter-02: #ababab;
$Shapeshifter-03: #555555;
$Shapeshifter-04: #343434;
$Shapeshifter-05: #102015;
$Shapeshifter-06: #040404;
$Shapeshifter-07: #000000;
$Shapeshifter-08: #e92f2f;
$Shapeshifter-09: #e09448;
$Shapeshifter-0A: #dddd13;
$Shapeshifter-0B: #0ed839;
$Shapeshifter-0C: #23edda;
$Shapeshifter-0D: #3b48e3;
$Shapeshifter-0E: #f996e2;
$Shapeshifter-0F: #69542d;
// -----------------------------------------------------------------------------
