// =============================================================================
// Base16 Atelier Seaside Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Seaside-Light-00: #f4fbf4;
$Atelier-Seaside-Light-01: #cfe8cf;
$Atelier-Seaside-Light-02: #8ca68c;
$Atelier-Seaside-Light-03: #809980;
$Atelier-Seaside-Light-04: #687d68;
$Atelier-Seaside-Light-05: #5e6e5e;
$Atelier-Seaside-Light-06: #242924;
$Atelier-Seaside-Light-07: #131513;
$Atelier-Seaside-Light-08: #e6193c;
$Atelier-Seaside-Light-09: #87711d;
$Atelier-Seaside-Light-0A: #98981b;
$Atelier-Seaside-Light-0B: #29a329;
$Atelier-Seaside-Light-0C: #1999b3;
$Atelier-Seaside-Light-0D: #3d62f5;
$Atelier-Seaside-Light-0E: #ad2bee;
$Atelier-Seaside-Light-0F: #e619c3;
// -----------------------------------------------------------------------------
