// =============================================================================
// Base16 Mellow Purple
// =============================================================================
// Author: gidsi
// Source: https://github.com/gidsi/base16-mellow-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Mellow-Purple-00: #1e0528;
$Mellow-Purple-01: #1A092D;
$Mellow-Purple-02: #331354;
$Mellow-Purple-03: #320f55;
$Mellow-Purple-04: #873582;
$Mellow-Purple-05: #ffeeff;
$Mellow-Purple-06: #ffeeff;
$Mellow-Purple-07: #f8c0ff;
$Mellow-Purple-08: #00d9e9;
$Mellow-Purple-09: #aa00a3;
$Mellow-Purple-0A: #955ae7;
$Mellow-Purple-0B: #05cb0d;
$Mellow-Purple-0C: #b900b1;
$Mellow-Purple-0D: #550068;
$Mellow-Purple-0E: #8991bb;
$Mellow-Purple-0F: #4d6fff;
// -----------------------------------------------------------------------------
