// =============================================================================
// Base16 London Tube
// =============================================================================
// Author: Jan T. Sott
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$London-Tube-00: #231f20;
$London-Tube-01: #1c3f95;
$London-Tube-02: #5a5758;
$London-Tube-03: #737171;
$London-Tube-04: #959ca1;
$London-Tube-05: #d9d8d8;
$London-Tube-06: #e7e7e8;
$London-Tube-07: #ffffff;
$London-Tube-08: #ee2e24;
$London-Tube-09: #f386a1;
$London-Tube-0A: #ffd204;
$London-Tube-0B: #00853e;
$London-Tube-0C: #85cebc;
$London-Tube-0D: #009ddc;
$London-Tube-0E: #98005d;
$London-Tube-0F: #b06110;
// -----------------------------------------------------------------------------
