// =============================================================================
// Base16 Atelier Seaside
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Seaside-00: #131513;
$Atelier-Seaside-01: #242924;
$Atelier-Seaside-02: #5e6e5e;
$Atelier-Seaside-03: #687d68;
$Atelier-Seaside-04: #809980;
$Atelier-Seaside-05: #8ca68c;
$Atelier-Seaside-06: #cfe8cf;
$Atelier-Seaside-07: #f4fbf4;
$Atelier-Seaside-08: #e6193c;
$Atelier-Seaside-09: #87711d;
$Atelier-Seaside-0A: #98981b;
$Atelier-Seaside-0B: #29a329;
$Atelier-Seaside-0C: #1999b3;
$Atelier-Seaside-0D: #3d62f5;
$Atelier-Seaside-0E: #ad2bee;
$Atelier-Seaside-0F: #e619c3;
// -----------------------------------------------------------------------------
