// =============================================================================
// Base16 Atelier Forest Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Forest-Light-00: #f1efee;
$Atelier-Forest-Light-01: #e6e2e0;
$Atelier-Forest-Light-02: #a8a19f;
$Atelier-Forest-Light-03: #9c9491;
$Atelier-Forest-Light-04: #766e6b;
$Atelier-Forest-Light-05: #68615e;
$Atelier-Forest-Light-06: #2c2421;
$Atelier-Forest-Light-07: #1b1918;
$Atelier-Forest-Light-08: #f22c40;
$Atelier-Forest-Light-09: #df5320;
$Atelier-Forest-Light-0A: #c38418;
$Atelier-Forest-Light-0B: #7b9726;
$Atelier-Forest-Light-0C: #3d97b8;
$Atelier-Forest-Light-0D: #407ee7;
$Atelier-Forest-Light-0E: #6666ea;
$Atelier-Forest-Light-0F: #c33ff3;
// -----------------------------------------------------------------------------
