// =============================================================================
// Base16 Solarized Light
// =============================================================================
// Author: Ethan Schoonover (modified by aramisgithub)
// Source: https://github.com/aramisgithub/base16-solarized-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Solarized-Light-00: #fdf6e3;
$Solarized-Light-01: #eee8d5;
$Solarized-Light-02: #93a1a1;
$Solarized-Light-03: #839496;
$Solarized-Light-04: #657b83;
$Solarized-Light-05: #586e75;
$Solarized-Light-06: #073642;
$Solarized-Light-07: #002b36;
$Solarized-Light-08: #dc322f;
$Solarized-Light-09: #cb4b16;
$Solarized-Light-0A: #b58900;
$Solarized-Light-0B: #859900;
$Solarized-Light-0C: #2aa198;
$Solarized-Light-0D: #268bd2;
$Solarized-Light-0E: #6c71c4;
$Solarized-Light-0F: #d33682;
// -----------------------------------------------------------------------------
