// =============================================================================
// Base16 Atelier Cave
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Cave-00: #19171c;
$Atelier-Cave-01: #26232a;
$Atelier-Cave-02: #585260;
$Atelier-Cave-03: #655f6d;
$Atelier-Cave-04: #7e7887;
$Atelier-Cave-05: #8b8792;
$Atelier-Cave-06: #e2dfe7;
$Atelier-Cave-07: #efecf4;
$Atelier-Cave-08: #be4678;
$Atelier-Cave-09: #aa573c;
$Atelier-Cave-0A: #a06e3b;
$Atelier-Cave-0B: #2a9292;
$Atelier-Cave-0C: #398bc6;
$Atelier-Cave-0D: #576ddb;
$Atelier-Cave-0E: #955ae7;
$Atelier-Cave-0F: #bf40bf;
// -----------------------------------------------------------------------------
