// =============================================================================
// Base16 Circus
// =============================================================================
// Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)
// Source: https://github.com/stepchowfun/base16-circus-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Circus-00: #191919;
$Circus-01: #202020;
$Circus-02: #303030;
$Circus-03: #5f5a60;
$Circus-04: #505050;
$Circus-05: #a7a7a7;
$Circus-06: #808080;
$Circus-07: #ffffff;
$Circus-08: #dc657d;
$Circus-09: #4bb1a7;
$Circus-0A: #c3ba63;
$Circus-0B: #84b97c;
$Circus-0C: #4bb1a7;
$Circus-0D: #639ee4;
$Circus-0E: #b888e2;
$Circus-0F: #b888e2;
// -----------------------------------------------------------------------------
