// =============================================================================
// Base16 Cupertino
// =============================================================================
// Author: Defman21
// Source: https://github.com/Defman21/base16-cupertino-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Cupertino-00: #5e5e5e;
$Cupertino-01: #404040;
$Cupertino-02: #404040;
$Cupertino-03: #808080;
$Cupertino-04: #808080;
$Cupertino-05: #c0c0c0;
$Cupertino-06: #c0c0c0;
$Cupertino-07: #ffffff;
$Cupertino-08: #c41a15;
$Cupertino-09: #eb8500;
$Cupertino-0A: #826b28;
$Cupertino-0B: #007400;
$Cupertino-0C: #318495;
$Cupertino-0D: #0000ff;
$Cupertino-0E: #a90d91;
$Cupertino-0F: #826b28;
// -----------------------------------------------------------------------------
