// =============================================================================
// Base16 Woodland
// =============================================================================
// Author: Jay Cornwall (https://jcornwall.com)
// Source: https://github.com/jcornwall/base16-woodland-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Woodland-00: #231e18;
$Woodland-01: #302b25;
$Woodland-02: #48413a;
$Woodland-03: #9d8b70;
$Woodland-04: #b4a490;
$Woodland-05: #cabcb1;
$Woodland-06: #d7c8bc;
$Woodland-07: #e4d4c8;
$Woodland-08: #d35c5c;
$Woodland-09: #ca7f32;
$Woodland-0A: #e0ac16;
$Woodland-0B: #b7ba53;
$Woodland-0C: #6eb958;
$Woodland-0D: #88a4d3;
$Woodland-0E: #bb90e2;
$Woodland-0F: #b49368;
// -----------------------------------------------------------------------------
