// =============================================================================
// Base16 XCode Dusk
// =============================================================================
// Author: Elsa Gonsiorowski (https://github.com/gonsie)
// Source: https://github.com/gonsie/base16-xcode-dusk-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$XCode-Dusk-00: #282B35;
$XCode-Dusk-01: #3D4048;
$XCode-Dusk-02: #53555D;
$XCode-Dusk-03: #686A71;
$XCode-Dusk-04: #7E8086;
$XCode-Dusk-05: #939599;
$XCode-Dusk-06: #A9AAAE;
$XCode-Dusk-07: #BEBFC2;
$XCode-Dusk-08: #B21889;
$XCode-Dusk-09: #786DC5;
$XCode-Dusk-0A: #438288;
$XCode-Dusk-0B: #DF0002;
$XCode-Dusk-0C: #00A0BE;
$XCode-Dusk-0D: #790EAD;
$XCode-Dusk-0E: #B21889;
$XCode-Dusk-0F: #C77C48;
// -----------------------------------------------------------------------------
