// =============================================================================
// Base16 Atelier Plateau Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Plateau-Light-00: #f4ecec;
$Atelier-Plateau-Light-01: #e7dfdf;
$Atelier-Plateau-Light-02: #8a8585;
$Atelier-Plateau-Light-03: #7e7777;
$Atelier-Plateau-Light-04: #655d5d;
$Atelier-Plateau-Light-05: #585050;
$Atelier-Plateau-Light-06: #292424;
$Atelier-Plateau-Light-07: #1b1818;
$Atelier-Plateau-Light-08: #ca4949;
$Atelier-Plateau-Light-09: #b45a3c;
$Atelier-Plateau-Light-0A: #a06e3b;
$Atelier-Plateau-Light-0B: #4b8b8b;
$Atelier-Plateau-Light-0C: #5485b6;
$Atelier-Plateau-Light-0D: #7272ca;
$Atelier-Plateau-Light-0E: #8464c4;
$Atelier-Plateau-Light-0F: #bd5187;
// -----------------------------------------------------------------------------
