// =============================================================================
// Base16 Unikitty Dark
// =============================================================================
// Author: Josh W Lewis (@joshwlewis)
// Source: https://github.com/joshwlewis/base16-unikitty
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Unikitty-Dark-00: #2e2a31;
$Unikitty-Dark-01: #4a464d;
$Unikitty-Dark-02: #666369;
$Unikitty-Dark-03: #838085;
$Unikitty-Dark-04: #9f9da2;
$Unikitty-Dark-05: #bcbabe;
$Unikitty-Dark-06: #d8d7da;
$Unikitty-Dark-07: #f5f4f7;
$Unikitty-Dark-08: #d8137f;
$Unikitty-Dark-09: #d65407;
$Unikitty-Dark-0A: #dc8a0e;
$Unikitty-Dark-0B: #17ad98;
$Unikitty-Dark-0C: #149bda;
$Unikitty-Dark-0D: #796af5;
$Unikitty-Dark-0E: #bb60ea;
$Unikitty-Dark-0F: #c720ca;
// -----------------------------------------------------------------------------
