// =============================================================================
// Base16 Zenburn
// =============================================================================
// Author: elnawe
// Source: https://github.com/elnawe/base16-zenburn-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Zenburn-00: #3f3f3f;
$Zenburn-01: #404040;
$Zenburn-02: #606060;
$Zenburn-03: #4f4f4f;
$Zenburn-04: #808080;
$Zenburn-05: #dcdccc;
$Zenburn-06: #c0c0c0;
$Zenburn-07: #ffffff;
$Zenburn-08: #dca3a3;
$Zenburn-09: #dfaf8f;
$Zenburn-0A: #e0cf9f;
$Zenburn-0B: #5f7f5f;
$Zenburn-0C: #93e0e3;
$Zenburn-0D: #7cb8bb;
$Zenburn-0E: #dc8cc3;
$Zenburn-0F: #000000;
// -----------------------------------------------------------------------------
