// =============================================================================
// Base16 Mocha
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-default-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Mocha-00: #3B3228;
$Mocha-01: #534636;
$Mocha-02: #645240;
$Mocha-03: #7e705a;
$Mocha-04: #b8afad;
$Mocha-05: #d0c8c6;
$Mocha-06: #e9e1dd;
$Mocha-07: #f5eeeb;
$Mocha-08: #cb6077;
$Mocha-09: #d28b71;
$Mocha-0A: #f4bc87;
$Mocha-0B: #beb55b;
$Mocha-0C: #7bbda4;
$Mocha-0D: #8ab3b5;
$Mocha-0E: #a89bb9;
$Mocha-0F: #bb9584;
// -----------------------------------------------------------------------------
