// =============================================================================
// Base16 Atelier Heath
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Heath-00: #1b181b;
$Atelier-Heath-01: #292329;
$Atelier-Heath-02: #695d69;
$Atelier-Heath-03: #776977;
$Atelier-Heath-04: #9e8f9e;
$Atelier-Heath-05: #ab9bab;
$Atelier-Heath-06: #d8cad8;
$Atelier-Heath-07: #f7f3f7;
$Atelier-Heath-08: #ca402b;
$Atelier-Heath-09: #a65926;
$Atelier-Heath-0A: #bb8a35;
$Atelier-Heath-0B: #918b3b;
$Atelier-Heath-0C: #159393;
$Atelier-Heath-0D: #516aec;
$Atelier-Heath-0E: #7b59c0;
$Atelier-Heath-0F: #cc33cc;
// -----------------------------------------------------------------------------
