// =============================================================================
// Base16 Atelier Heath Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Heath-Light-00: #f7f3f7;
$Atelier-Heath-Light-01: #d8cad8;
$Atelier-Heath-Light-02: #ab9bab;
$Atelier-Heath-Light-03: #9e8f9e;
$Atelier-Heath-Light-04: #776977;
$Atelier-Heath-Light-05: #695d69;
$Atelier-Heath-Light-06: #292329;
$Atelier-Heath-Light-07: #1b181b;
$Atelier-Heath-Light-08: #ca402b;
$Atelier-Heath-Light-09: #a65926;
$Atelier-Heath-Light-0A: #bb8a35;
$Atelier-Heath-Light-0B: #918b3b;
$Atelier-Heath-Light-0C: #159393;
$Atelier-Heath-Light-0D: #516aec;
$Atelier-Heath-Light-0E: #7b59c0;
$Atelier-Heath-Light-0F: #cc33cc;
// -----------------------------------------------------------------------------
