// =============================================================================
// Base16 Summerfruit Dark
// =============================================================================
// Author: Christopher Corley (http://christop.club/)
// Source: https://github.com/cscorley/base16-summerfruit-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Summerfruit-Dark-00: #151515;
$Summerfruit-Dark-01: #202020;
$Summerfruit-Dark-02: #303030;
$Summerfruit-Dark-03: #505050;
$Summerfruit-Dark-04: #B0B0B0;
$Summerfruit-Dark-05: #D0D0D0;
$Summerfruit-Dark-06: #E0E0E0;
$Summerfruit-Dark-07: #FFFFFF;
$Summerfruit-Dark-08: #FF0086;
$Summerfruit-Dark-09: #FD8900;
$Summerfruit-Dark-0A: #ABA800;
$Summerfruit-Dark-0B: #00C918;
$Summerfruit-Dark-0C: #1FAAAA;
$Summerfruit-Dark-0D: #3777E6;
$Summerfruit-Dark-0E: #AD00A1;
$Summerfruit-Dark-0F: #CC6633;
// -----------------------------------------------------------------------------
