// =============================================================================
// Base16 Solarized Dark
// =============================================================================
// Author: Ethan Schoonover (modified by aramisgithub)
// Source: https://github.com/aramisgithub/base16-solarized-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Solarized-Dark-00: #002b36;
$Solarized-Dark-01: #073642;
$Solarized-Dark-02: #586e75;
$Solarized-Dark-03: #657b83;
$Solarized-Dark-04: #839496;
$Solarized-Dark-05: #93a1a1;
$Solarized-Dark-06: #eee8d5;
$Solarized-Dark-07: #fdf6e3;
$Solarized-Dark-08: #dc322f;
$Solarized-Dark-09: #cb4b16;
$Solarized-Dark-0A: #b58900;
$Solarized-Dark-0B: #859900;
$Solarized-Dark-0C: #2aa198;
$Solarized-Dark-0D: #268bd2;
$Solarized-Dark-0E: #6c71c4;
$Solarized-Dark-0F: #d33682;
// -----------------------------------------------------------------------------
