// =============================================================================
// Base16 Ashes
// =============================================================================
// Author: Jannik Siebert (https://github.com/janniks)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Ashes-00: #1C2023;
$Ashes-01: #393F45;
$Ashes-02: #565E65;
$Ashes-03: #747C84;
$Ashes-04: #ADB3BA;
$Ashes-05: #C7CCD1;
$Ashes-06: #DFE2E5;
$Ashes-07: #F3F4F5;
$Ashes-08: #C7AE95;
$Ashes-09: #C7C795;
$Ashes-0A: #AEC795;
$Ashes-0B: #95C7AE;
$Ashes-0C: #95AEC7;
$Ashes-0D: #AE95C7;
$Ashes-0E: #C795AE;
$Ashes-0F: #C79595;
// -----------------------------------------------------------------------------
