// =============================================================================
// Base16 Mexico Light
// =============================================================================
// Author: Sheldon Johnson
// Source: https://github.com/drzel/base16-mexico-light-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Mexico-Light-00: #f8f8f8;
$Mexico-Light-01: #e8e8e8;
$Mexico-Light-02: #d8d8d8;
$Mexico-Light-03: #b8b8b8;
$Mexico-Light-04: #585858;
$Mexico-Light-05: #383838;
$Mexico-Light-06: #282828;
$Mexico-Light-07: #181818;
$Mexico-Light-08: #ab4642;
$Mexico-Light-09: #dc9656;
$Mexico-Light-0A: #f79a0e;
$Mexico-Light-0B: #538947;
$Mexico-Light-0C: #4b8093;
$Mexico-Light-0D: #7cafc2;
$Mexico-Light-0E: #96609e;
$Mexico-Light-0F: #a16946;
// -----------------------------------------------------------------------------
