// =============================================================================
// Base16 Cupcake
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-default-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Cupcake-00: #fbf1f2;
$Cupcake-01: #f2f1f4;
$Cupcake-02: #d8d5dd;
$Cupcake-03: #bfb9c6;
$Cupcake-04: #a59daf;
$Cupcake-05: #8b8198;
$Cupcake-06: #72677E;
$Cupcake-07: #585062;
$Cupcake-08: #D57E85;
$Cupcake-09: #EBB790;
$Cupcake-0A: #DCB16C;
$Cupcake-0B: #A3B367;
$Cupcake-0C: #69A9A7;
$Cupcake-0D: #7297B9;
$Cupcake-0E: #BB99B4;
$Cupcake-0F: #BAA58C;
// -----------------------------------------------------------------------------
