// =============================================================================
// Base16 OneDark
// =============================================================================
// Author: Lalit Magant (http://github.com/tilal6991)
// Source: https://github.com/tilal6991/base16-onedark-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$OneDark-00: #282c34;
$OneDark-01: #353b45;
$OneDark-02: #3e4451;
$OneDark-03: #545862;
$OneDark-04: #565c64;
$OneDark-05: #abb2bf;
$OneDark-06: #b6bdca;
$OneDark-07: #c8ccd4;
$OneDark-08: #e06c75;
$OneDark-09: #d19a66;
$OneDark-0A: #e5c07b;
$OneDark-0B: #98c379;
$OneDark-0C: #56b6c2;
$OneDark-0D: #61afef;
$OneDark-0E: #c678dd;
$OneDark-0F: #be5046;
// -----------------------------------------------------------------------------
