// =============================================================================
// Base16 Pico
// =============================================================================
// Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Pico-00: #000000;
$Pico-01: #1d2b53;
$Pico-02: #7e2553;
$Pico-03: #008751;
$Pico-04: #ab5236;
$Pico-05: #5f574f;
$Pico-06: #c2c3c7;
$Pico-07: #fff1e8;
$Pico-08: #ff004d;
$Pico-09: #ffa300;
$Pico-0A: #fff024;
$Pico-0B: #00e756;
$Pico-0C: #29adff;
$Pico-0D: #83769c;
$Pico-0E: #ff77a8;
$Pico-0F: #ffccaa;
// -----------------------------------------------------------------------------
