// =============================================================================
// Base16 Railscasts
// =============================================================================
// Author: Ryan Bates (http://railscasts.com)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Railscasts-00: #2b2b2b;
$Railscasts-01: #272935;
$Railscasts-02: #3a4055;
$Railscasts-03: #5a647e;
$Railscasts-04: #d4cfc9;
$Railscasts-05: #e6e1dc;
$Railscasts-06: #f4f1ed;
$Railscasts-07: #f9f7f3;
$Railscasts-08: #da4939;
$Railscasts-09: #cc7833;
$Railscasts-0A: #ffc66d;
$Railscasts-0B: #a5c261;
$Railscasts-0C: #519f50;
$Railscasts-0D: #6d9cbe;
$Railscasts-0E: #b6b3eb;
$Railscasts-0F: #bc9458;
// -----------------------------------------------------------------------------
