// =============================================================================
// Base16 Hopscotch
// =============================================================================
// Author: Jan T. Sott
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Hopscotch-00: #322931;
$Hopscotch-01: #433b42;
$Hopscotch-02: #5c545b;
$Hopscotch-03: #797379;
$Hopscotch-04: #989498;
$Hopscotch-05: #b9b5b8;
$Hopscotch-06: #d5d3d5;
$Hopscotch-07: #ffffff;
$Hopscotch-08: #dd464c;
$Hopscotch-09: #fd8b19;
$Hopscotch-0A: #fdcc59;
$Hopscotch-0B: #8fc13e;
$Hopscotch-0C: #149b93;
$Hopscotch-0D: #1290bf;
$Hopscotch-0E: #c85e7c;
$Hopscotch-0F: #b33508;
// -----------------------------------------------------------------------------
