// =============================================================================
// Base16 Embers
// =============================================================================
// Author: Jannik Siebert (https://github.com/janniks)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Embers-00: #16130F;
$Embers-01: #2C2620;
$Embers-02: #433B32;
$Embers-03: #5A5047;
$Embers-04: #8A8075;
$Embers-05: #A39A90;
$Embers-06: #BEB6AE;
$Embers-07: #DBD6D1;
$Embers-08: #826D57;
$Embers-09: #828257;
$Embers-0A: #6D8257;
$Embers-0B: #57826D;
$Embers-0C: #576D82;
$Embers-0D: #6D5782;
$Embers-0E: #82576D;
$Embers-0F: #825757;
// -----------------------------------------------------------------------------
