// =============================================================================
// Base16 Tomorrow
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-tomorrow-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Tomorrow-00: #ffffff;
$Tomorrow-01: #e0e0e0;
$Tomorrow-02: #d6d6d6;
$Tomorrow-03: #8e908c;
$Tomorrow-04: #969896;
$Tomorrow-05: #4d4d4c;
$Tomorrow-06: #282a2e;
$Tomorrow-07: #1d1f21;
$Tomorrow-08: #c82829;
$Tomorrow-09: #f5871f;
$Tomorrow-0A: #eab700;
$Tomorrow-0B: #718c00;
$Tomorrow-0C: #3e999f;
$Tomorrow-0D: #4271ae;
$Tomorrow-0E: #8959a8;
$Tomorrow-0F: #a3685a;
// -----------------------------------------------------------------------------
