// =============================================================================
// Base16 Materia
// =============================================================================
// Author: Defman21
// Source: https://github.com/Defman21/base16-materia-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Materia-00: #263238;
$Materia-01: #2C393F;
$Materia-02: #37474F;
$Materia-03: #707880;
$Materia-04: #C9CCD3;
$Materia-05: #CDD3DE;
$Materia-06: #D5DBE5;
$Materia-07: #FFFFFF;
$Materia-08: #EC5F67;
$Materia-09: #EA9560;
$Materia-0A: #FFCC00;
$Materia-0B: #8BD649;
$Materia-0C: #80CBC4;
$Materia-0D: #89DDFF;
$Materia-0E: #82AAFF;
$Materia-0F: #EC5F67;
// -----------------------------------------------------------------------------
