// =============================================================================
// Base16 Solar Flare
// =============================================================================
// Author: Chuck Harmston (https://chuck.harmston.ch)
// Source: https://github.com/mnussbaum/base16-solarflare-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Solar-Flare-00: #18262F;
$Solar-Flare-01: #222E38;
$Solar-Flare-02: #586875;
$Solar-Flare-03: #667581;
$Solar-Flare-04: #85939E;
$Solar-Flare-05: #A6AFB8;
$Solar-Flare-06: #E8E9ED;
$Solar-Flare-07: #F5F7FA;
$Solar-Flare-08: #EF5253;
$Solar-Flare-09: #E66B2B;
$Solar-Flare-0A: #E4B51C;
$Solar-Flare-0B: #7CC844;
$Solar-Flare-0C: #52CBB0;
$Solar-Flare-0D: #33B5E1;
$Solar-Flare-0E: #A363D5;
$Solar-Flare-0F: #D73C9A;
// -----------------------------------------------------------------------------
