// =============================================================================
// Base16 Classic Dark
// =============================================================================
// Author: Jason Heeris (http://heeris.id.au)
// Source: https://github.com/detly/base16-classic-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Classic-Dark-00: #151515;
$Classic-Dark-01: #202020;
$Classic-Dark-02: #303030;
$Classic-Dark-03: #505050;
$Classic-Dark-04: #B0B0B0;
$Classic-Dark-05: #D0D0D0;
$Classic-Dark-06: #E0E0E0;
$Classic-Dark-07: #F5F5F5;
$Classic-Dark-08: #AC4142;
$Classic-Dark-09: #D28445;
$Classic-Dark-0A: #F4BF75;
$Classic-Dark-0B: #90A959;
$Classic-Dark-0C: #75B5AA;
$Classic-Dark-0D: #6A9FB5;
$Classic-Dark-0E: #AA759F;
$Classic-Dark-0F: #8F5536;
// -----------------------------------------------------------------------------
