// =============================================================================
// Base16 Default Light
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-default-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Default-Light-00: #f8f8f8;
$Default-Light-01: #e8e8e8;
$Default-Light-02: #d8d8d8;
$Default-Light-03: #b8b8b8;
$Default-Light-04: #585858;
$Default-Light-05: #383838;
$Default-Light-06: #282828;
$Default-Light-07: #181818;
$Default-Light-08: #ab4642;
$Default-Light-09: #dc9656;
$Default-Light-0A: #f7ca88;
$Default-Light-0B: #a1b56c;
$Default-Light-0C: #86c1b9;
$Default-Light-0D: #7cafc2;
$Default-Light-0E: #ba8baf;
$Default-Light-0F: #a16946;
// -----------------------------------------------------------------------------
