// =============================================================================
// Base16 Snazzy
// =============================================================================
// Author: Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
// Source: https://github.com/h404bi/base16-snazzy-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Snazzy-00: #1e1f29;
$Snazzy-01: #34353e;
$Snazzy-02: #4a4b53;
$Snazzy-03: #78787e;
$Snazzy-04: #a5a5a9;
$Snazzy-05: #eff0eb;
$Snazzy-06: #f1f1f0;
$Snazzy-07: #f1f1f0;
$Snazzy-08: #ff5c57;
$Snazzy-09: #ff9f43;
$Snazzy-0A: #f3f99d;
$Snazzy-0B: #5af78e;
$Snazzy-0C: #9aedfe;
$Snazzy-0D: #57c7ff;
$Snazzy-0E: #ff6ac1;
$Snazzy-0F: #b2643c;
// -----------------------------------------------------------------------------
