// =============================================================================
// Base16 Material Vivid
// =============================================================================
// Author: joshyrobot
// Source: https://github.com/joshyrobot/base16-material-vivid-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Material-Vivid-00: #263238;
$Material-Vivid-01: #37474F;
$Material-Vivid-02: #455A64;
$Material-Vivid-03: #546E7A;
$Material-Vivid-04: #90A4AE;
$Material-Vivid-05: #B0BEC5;
$Material-Vivid-06: #CFD8DC;
$Material-Vivid-07: #ECEFF1;
$Material-Vivid-08: #FF1744;
$Material-Vivid-09: #FF9100;
$Material-Vivid-0A: #FFC400;
$Material-Vivid-0B: #00E676;
$Material-Vivid-0C: #00B0FF;
$Material-Vivid-0D: #2979FF;
$Material-Vivid-0E: #651FFF;
$Material-Vivid-0F: #8D6E63;
// -----------------------------------------------------------------------------
