// =============================================================================
// Base16 Icy
// =============================================================================
// Author: icyphox (https://icyphox.ga)
// Source: https://github.com/icyphox/base16-icy-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Icy-00: #021012;
$Icy-01: #031619;
$Icy-02: #041f23;
$Icy-03: #052e34;
$Icy-04: #064048;
$Icy-05: #095b67;
$Icy-06: #0c7c8c;
$Icy-07: #109cb0;
$Icy-08: #16c1d9;
$Icy-09: #b3ebf2;
$Icy-0A: #80deea;
$Icy-0B: #4dd0e1;
$Icy-0C: #26c6da;
$Icy-0D: #00bcd4;
$Icy-0E: #00acc1;
$Icy-0F: #0097a7;
// -----------------------------------------------------------------------------
