// =============================================================================
// Base16 Flat
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Flat-00: #2C3E50;
$Flat-01: #34495E;
$Flat-02: #7F8C8D;
$Flat-03: #95A5A6;
$Flat-04: #BDC3C7;
$Flat-05: #e0e0e0;
$Flat-06: #f5f5f5;
$Flat-07: #ECF0F1;
$Flat-08: #E74C3C;
$Flat-09: #E67E22;
$Flat-0A: #F1C40F;
$Flat-0B: #2ECC71;
$Flat-0C: #1ABC9C;
$Flat-0D: #3498DB;
$Flat-0E: #9B59B6;
$Flat-0F: #be643c;
// -----------------------------------------------------------------------------
