// =============================================================================
// Base16 Brush Trees
// =============================================================================
// Author: Abraham White <abelincoln.white@gmail.com>
// Source: https://github.com/whiteabelincoln/base16-brushtrees-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Brush-Trees-00: #E3EFEF;
$Brush-Trees-01: #C9DBDC;
$Brush-Trees-02: #B0C5C8;
$Brush-Trees-03: #98AFB5;
$Brush-Trees-04: #8299A1;
$Brush-Trees-05: #6D828E;
$Brush-Trees-06: #5A6D7A;
$Brush-Trees-07: #485867;
$Brush-Trees-08: #b38686;
$Brush-Trees-09: #d8bba2;
$Brush-Trees-0A: #aab386;
$Brush-Trees-0B: #87b386;
$Brush-Trees-0C: #86b3b3;
$Brush-Trees-0D: #868cb3;
$Brush-Trees-0E: #b386b2;
$Brush-Trees-0F: #b39f9f;
// -----------------------------------------------------------------------------
