// =============================================================================
// Base16 Spacemacs
// =============================================================================
// Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Spacemacs-00: #1f2022;
$Spacemacs-01: #282828;
$Spacemacs-02: #444155;
$Spacemacs-03: #585858;
$Spacemacs-04: #b8b8b8;
$Spacemacs-05: #a3a3a3;
$Spacemacs-06: #e8e8e8;
$Spacemacs-07: #f8f8f8;
$Spacemacs-08: #f2241f;
$Spacemacs-09: #ffa500;
$Spacemacs-0A: #b1951d;
$Spacemacs-0B: #67b11d;
$Spacemacs-0C: #2d9574;
$Spacemacs-0D: #4f97d7;
$Spacemacs-0E: #a31db1;
$Spacemacs-0F: #b03060;
// -----------------------------------------------------------------------------
