// =============================================================================
// Base16 Tomorrow Night
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-tomorrow-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Tomorrow-Night-00: #1d1f21;
$Tomorrow-Night-01: #282a2e;
$Tomorrow-Night-02: #373b41;
$Tomorrow-Night-03: #969896;
$Tomorrow-Night-04: #b4b7b4;
$Tomorrow-Night-05: #c5c8c6;
$Tomorrow-Night-06: #e0e0e0;
$Tomorrow-Night-07: #ffffff;
$Tomorrow-Night-08: #cc6666;
$Tomorrow-Night-09: #de935f;
$Tomorrow-Night-0A: #f0c674;
$Tomorrow-Night-0B: #b5bd68;
$Tomorrow-Night-0C: #8abeb7;
$Tomorrow-Night-0D: #81a2be;
$Tomorrow-Night-0E: #b294bb;
$Tomorrow-Night-0F: #a3685a;
// -----------------------------------------------------------------------------
