// =============================================================================
// Base16 Atelier Savanna Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Savanna-Light-00: #ecf4ee;
$Atelier-Savanna-Light-01: #dfe7e2;
$Atelier-Savanna-Light-02: #87928a;
$Atelier-Savanna-Light-03: #78877d;
$Atelier-Savanna-Light-04: #5f6d64;
$Atelier-Savanna-Light-05: #526057;
$Atelier-Savanna-Light-06: #232a25;
$Atelier-Savanna-Light-07: #171c19;
$Atelier-Savanna-Light-08: #b16139;
$Atelier-Savanna-Light-09: #9f713c;
$Atelier-Savanna-Light-0A: #a07e3b;
$Atelier-Savanna-Light-0B: #489963;
$Atelier-Savanna-Light-0C: #1c9aa0;
$Atelier-Savanna-Light-0D: #478c90;
$Atelier-Savanna-Light-0E: #55859b;
$Atelier-Savanna-Light-0F: #867469;
// -----------------------------------------------------------------------------
