// =============================================================================
// Base16 Material
// =============================================================================
// Author: Nate Peterson
// Source: https://github.com/ntpeters/base16-materialtheme-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Material-00: #263238;
$Material-01: #2E3C43;
$Material-02: #314549;
$Material-03: #546E7A;
$Material-04: #B2CCD6;
$Material-05: #EEFFFF;
$Material-06: #EEFFFF;
$Material-07: #FFFFFF;
$Material-08: #F07178;
$Material-09: #F78C6C;
$Material-0A: #FFCB6B;
$Material-0B: #C3E88D;
$Material-0C: #89DDFF;
$Material-0D: #82AAFF;
$Material-0E: #C792EA;
$Material-0F: #FF5370;
// -----------------------------------------------------------------------------
