// =============================================================================
// Base16 Atelier Plateau
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Plateau-00: #1b1818;
$Atelier-Plateau-01: #292424;
$Atelier-Plateau-02: #585050;
$Atelier-Plateau-03: #655d5d;
$Atelier-Plateau-04: #7e7777;
$Atelier-Plateau-05: #8a8585;
$Atelier-Plateau-06: #e7dfdf;
$Atelier-Plateau-07: #f4ecec;
$Atelier-Plateau-08: #ca4949;
$Atelier-Plateau-09: #b45a3c;
$Atelier-Plateau-0A: #a06e3b;
$Atelier-Plateau-0B: #4b8b8b;
$Atelier-Plateau-0C: #5485b6;
$Atelier-Plateau-0D: #7272ca;
$Atelier-Plateau-0E: #8464c4;
$Atelier-Plateau-0F: #bd5187;
// -----------------------------------------------------------------------------
