// =============================================================================
// Base16 Isotope
// =============================================================================
// Author: Jan T. Sott
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Isotope-00: #000000;
$Isotope-01: #404040;
$Isotope-02: #606060;
$Isotope-03: #808080;
$Isotope-04: #c0c0c0;
$Isotope-05: #d0d0d0;
$Isotope-06: #e0e0e0;
$Isotope-07: #ffffff;
$Isotope-08: #ff0000;
$Isotope-09: #ff9900;
$Isotope-0A: #ff0099;
$Isotope-0B: #33ff00;
$Isotope-0C: #00ffff;
$Isotope-0D: #0066ff;
$Isotope-0E: #cc00ff;
$Isotope-0F: #3300ff;
// -----------------------------------------------------------------------------
