// =============================================================================
// Base16 Marrakesh
// =============================================================================
// Author: Alexandre Gavioli (http://github.com/Alexx2/)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Marrakesh-00: #201602;
$Marrakesh-01: #302e00;
$Marrakesh-02: #5f5b17;
$Marrakesh-03: #6c6823;
$Marrakesh-04: #86813b;
$Marrakesh-05: #948e48;
$Marrakesh-06: #ccc37a;
$Marrakesh-07: #faf0a5;
$Marrakesh-08: #c35359;
$Marrakesh-09: #b36144;
$Marrakesh-0A: #a88339;
$Marrakesh-0B: #18974e;
$Marrakesh-0C: #75a738;
$Marrakesh-0D: #477ca1;
$Marrakesh-0E: #8868b3;
$Marrakesh-0F: #b3588e;
// -----------------------------------------------------------------------------
