// =============================================================================
// Base16 Brewer
// =============================================================================
// Author: Timothée Poisot (http://github.com/tpoisot)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Brewer-00: #0c0d0e;
$Brewer-01: #2e2f30;
$Brewer-02: #515253;
$Brewer-03: #737475;
$Brewer-04: #959697;
$Brewer-05: #b7b8b9;
$Brewer-06: #dadbdc;
$Brewer-07: #fcfdfe;
$Brewer-08: #e31a1c;
$Brewer-09: #e6550d;
$Brewer-0A: #dca060;
$Brewer-0B: #31a354;
$Brewer-0C: #80b1d3;
$Brewer-0D: #3182bd;
$Brewer-0E: #756bb1;
$Brewer-0F: #b15928;
// -----------------------------------------------------------------------------
