// =============================================================================
// Base16 Atelier Forest
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Forest-00: #1b1918;
$Atelier-Forest-01: #2c2421;
$Atelier-Forest-02: #68615e;
$Atelier-Forest-03: #766e6b;
$Atelier-Forest-04: #9c9491;
$Atelier-Forest-05: #a8a19f;
$Atelier-Forest-06: #e6e2e0;
$Atelier-Forest-07: #f1efee;
$Atelier-Forest-08: #f22c40;
$Atelier-Forest-09: #df5320;
$Atelier-Forest-0A: #c38418;
$Atelier-Forest-0B: #7b9726;
$Atelier-Forest-0C: #3d97b8;
$Atelier-Forest-0D: #407ee7;
$Atelier-Forest-0E: #6666ea;
$Atelier-Forest-0F: #c33ff3;
// -----------------------------------------------------------------------------
