// =============================================================================
// Base16 Gruvbox dark, hard
// =============================================================================
// Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
// Source: https://github.com/dawikur/base16-gruvbox-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Gruvbox-dark-hard-00: #1d2021;
$Gruvbox-dark-hard-01: #3c3836;
$Gruvbox-dark-hard-02: #504945;
$Gruvbox-dark-hard-03: #665c54;
$Gruvbox-dark-hard-04: #bdae93;
$Gruvbox-dark-hard-05: #d5c4a1;
$Gruvbox-dark-hard-06: #ebdbb2;
$Gruvbox-dark-hard-07: #fbf1c7;
$Gruvbox-dark-hard-08: #fb4934;
$Gruvbox-dark-hard-09: #fe8019;
$Gruvbox-dark-hard-0A: #fabd2f;
$Gruvbox-dark-hard-0B: #b8bb26;
$Gruvbox-dark-hard-0C: #8ec07c;
$Gruvbox-dark-hard-0D: #83a598;
$Gruvbox-dark-hard-0E: #d3869b;
$Gruvbox-dark-hard-0F: #d65d0e;
// -----------------------------------------------------------------------------
