// =============================================================================
// Base16 Atelier Lakeside Light
// =============================================================================
// Author: Bram de Haan (http://atelierbramdehaan.nl)
// Source: https://github.com/atelierbram/base16-atelier-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Atelier-Lakeside-Light-00: #ebf8ff;
$Atelier-Lakeside-Light-01: #c1e4f6;
$Atelier-Lakeside-Light-02: #7ea2b4;
$Atelier-Lakeside-Light-03: #7195a8;
$Atelier-Lakeside-Light-04: #5a7b8c;
$Atelier-Lakeside-Light-05: #516d7b;
$Atelier-Lakeside-Light-06: #1f292e;
$Atelier-Lakeside-Light-07: #161b1d;
$Atelier-Lakeside-Light-08: #d22d72;
$Atelier-Lakeside-Light-09: #935c25;
$Atelier-Lakeside-Light-0A: #8a8a0f;
$Atelier-Lakeside-Light-0B: #568c3b;
$Atelier-Lakeside-Light-0C: #2d8f6f;
$Atelier-Lakeside-Light-0D: #257fad;
$Atelier-Lakeside-Light-0E: #6b6bb8;
$Atelier-Lakeside-Light-0F: #b72dd2;
// -----------------------------------------------------------------------------
