// =============================================================================
// Base16 Ocean
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-default-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Ocean-00: #2b303b;
$Ocean-01: #343d46;
$Ocean-02: #4f5b66;
$Ocean-03: #65737e;
$Ocean-04: #a7adba;
$Ocean-05: #c0c5ce;
$Ocean-06: #dfe1e8;
$Ocean-07: #eff1f5;
$Ocean-08: #bf616a;
$Ocean-09: #d08770;
$Ocean-0A: #ebcb8b;
$Ocean-0B: #a3be8c;
$Ocean-0C: #96b5b4;
$Ocean-0D: #8fa1b3;
$Ocean-0E: #b48ead;
$Ocean-0F: #ab7967;
// -----------------------------------------------------------------------------
