// =============================================================================
// Base16 Material Palenight
// =============================================================================
// Author: Nate Peterson
// Source: https://github.com/ntpeters/base16-materialtheme-scheme
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Material-Palenight-00: #292D3E;
$Material-Palenight-01: #444267;
$Material-Palenight-02: #32374D;
$Material-Palenight-03: #676E95;
$Material-Palenight-04: #8796B0;
$Material-Palenight-05: #959DCB;
$Material-Palenight-06: #959DCB;
$Material-Palenight-07: #FFFFFF;
$Material-Palenight-08: #F07178;
$Material-Palenight-09: #F78C6C;
$Material-Palenight-0A: #FFCB6B;
$Material-Palenight-0B: #C3E88D;
$Material-Palenight-0C: #89DDFF;
$Material-Palenight-0D: #82AAFF;
$Material-Palenight-0E: #C792EA;
$Material-Palenight-0F: #FF5370;
// -----------------------------------------------------------------------------
