// =============================================================================
// Base16 Google Dark
// =============================================================================
// Author: Seth Wright (http://sethawright.com)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Google-Dark-00: #1d1f21;
$Google-Dark-01: #282a2e;
$Google-Dark-02: #373b41;
$Google-Dark-03: #969896;
$Google-Dark-04: #b4b7b4;
$Google-Dark-05: #c5c8c6;
$Google-Dark-06: #e0e0e0;
$Google-Dark-07: #ffffff;
$Google-Dark-08: #CC342B;
$Google-Dark-09: #F96A38;
$Google-Dark-0A: #FBA922;
$Google-Dark-0B: #198844;
$Google-Dark-0C: #3971ED;
$Google-Dark-0D: #3971ED;
$Google-Dark-0E: #A36AC7;
$Google-Dark-0F: #3971ED;
// -----------------------------------------------------------------------------
