// =============================================================================
// Base16 Green Screen
// =============================================================================
// Author: Chris Kempson (http://chriskempson.com)
// Source: https://github.com/chriskempson/base16-unclaimed-schemes
// -----------------------------------------------------------------------------
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// Sass version by Tristano Ajmone: https://github.com/tajmone/Base16-Sass
// -----------------------------------------------------------------------------
$Green-Screen-00: #001100;
$Green-Screen-01: #003300;
$Green-Screen-02: #005500;
$Green-Screen-03: #007700;
$Green-Screen-04: #009900;
$Green-Screen-05: #00bb00;
$Green-Screen-06: #00dd00;
$Green-Screen-07: #00ff00;
$Green-Screen-08: #007700;
$Green-Screen-09: #009900;
$Green-Screen-0A: #007700;
$Green-Screen-0B: #00bb00;
$Green-Screen-0C: #005500;
$Green-Screen-0D: #009900;
$Green-Screen-0E: #00bb00;
$Green-Screen-0F: #005500;
// -----------------------------------------------------------------------------
